﻿@model IEnumerable<Domain.Entities.Ttn>
<div id="selectttn">
    <div class="table-responsive product-table-wrapper">
        <table class="table table-hover table-bordered table-grey-header">
            <thead>
                <tr>
                    <th>
                        №
                    </th>
                    <th>
                        Дата
                    </th>
                    <th>
                        Время
                    </th>
                    <th>
                        Продукция
                    </th>
                    <th>
                        Адрес
                    </th>
                    <th>
                        Кол-во
                    </th>
                    <th>
                        Сумма
                    </th>
                    <th>
                        Автомобиль
                    </th>
                    <th>
                        Автобаза
                    </th>
                    <th>
                        Гос. №
                    </th>
                    <th>
                        Водитель
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Num)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Good)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amodel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ab)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Driv)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


