﻿@model IEnumerable<Domain.Entities.SaleGraph>

@{
    ViewBag.Title = "График отгрузки";
}

<h2>График отгрузки</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Good)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ord)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Good)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cust)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ord)
            </td>
            <td>
                @if (item.Kol > 0) 
                    //| (item.Ld > 0))
                {@Html.ActionLink("Подробно", "Details", new { id = item.Id })}
            </td>
        </tr>
    }

</table>
