﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models

@*@foreach (var node in Model) { 
    @Html.DisplayFor(m => node);
    if (node != Model.Last()) {
        <text> &gt; </text>
    }
}*@
<ul class="hidden-print breadcrumb url-breadcrumb">
    @foreach (var node in Model)
    {
        <li>
            @Html.DisplayFor(m => node)
            <span class="divider"></span>
        </li>
    }
</ul>