﻿@model IEnumerable<Domain.Entities.OrderProduct>

@{
    ViewBag.Title = "AddProd";
}

<h2>AddProd</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoodId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quant)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoodId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quant)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderProductId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderProductId })
        </td>
    </tr>
}

</table>
