﻿@model Domain.ModelView.OrderV
@{
    ViewBag.Title = "Удаление";
}
<h2>Удаление заказа</h2>
<h3>Вы уверены что хотите удалить этот заказ?</h3>
<div>
    <fieldset>
        @Html.HiddenFor(model => model.Order.OrderId)
    </fieldset>
    <h2>Дата</h2>
    <div class="form-group">
        <div class="col-md-9">
            @Html.DisplayFor(m => m.Order.cDat)
        </div>
    </div>
    <h2>Заказанные товары</h2>
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-grey-header null-margin">
            <thead>
                <tr>
                    <th>
                        Продукция
                    </th>
                    <th>
                        Ед. изм.
                    </th>
                    <th>
                        Количество
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Prod)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Good)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Unit)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Quant)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
        <h2>Дополнительная информация к заказу</h2>
        <div class="form-group">
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Order.Note, new { @class = "form-control multi-line", @rows = "3" })
                @Html.ValidationMessageFor(model => model.Order.Note, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("К списку заказов", "Index")
        </div>
    }
</div>
