﻿@model IEnumerable<Domain.ModelView.GoodSelect>

@{
    ViewBag.Title = "Order";
}

<table class="table">
    <tr>
        <th>
            Наименование продукции
        </th>
        <th>
           Ед. изм.
        </th>
        <th>
            Укжите количество
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.txt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit)
        </td>

        <td align="left">
            @using (Html.BeginForm("Details", "Orders"))
            {
                @Html.Hidden("ID", item.ID)
                <input type="number" name="qty" value="@item.Quant" size="2" width="100">
                <input class="actionButtons btn btn-xs-sm btn-success" type="submit" value=" Внести заказ" title="Занести товар в заказ" />
            }
        </td>

    </tr>
}

</table>
