﻿@model IEnumerable<Domain.Entities.Good>

@{
    ViewBag.Title = "GoodSelection";
}

<h2>GoodSelection</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Наименование продукции
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.txt, "GoodAdd", "Orders", new { id = item.ID }, null)
        </td>
    </tr>
}

</table>
