﻿@model IEnumerable<Domain.Entities.OrderView>

<p>
    @Html.ActionLink("Создать новый", "Create", null,
                new
                {
                    @class = "actionButtons btn btn-default btn-success",
                    @role = "button",
                    @title = "Создать новый"
                })
</p>
<table align="center" class="table table-hover table-bordered table-grey-header">
    <thead>
        <tr>
            @if (ViewBag.Title == "Заказы")
            {
                <th>
                    № Заказа
                </th>
            }
            <th>
                Дата
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Good)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
               Состояние
            </th>
            <th>
               Примечание
            </th>
            <th>
                @*Управление*@
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (ViewBag.Title == "Заказы")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.cDat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Good)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @if (item.StatusId == 1)
                    {
                        @Html.ActionLink(HttpUtility.HtmlDecode("&#xe065;"), "Edit", new { id = item.OrderId }, new { @class = "actionButtons btn btn-xs-sm-md btn-default glyphicon glyph-btn", @role = "button", @title = "Редактировать заказ" })
                        @Html.ActionLink(HttpUtility.HtmlDecode("&#xe020;"), "Delete", new { id = item.OrderId }, new { @class = "actionButtons btn btn-xs-sm-md btn-default glyphicon glyph-btn", @role = "button", @title = "Удалить заказ" })
                    }
                    @Html.ActionLink(HttpUtility.HtmlDecode("&#xe224;"), "Copy", new { id = item.OrderId }, new { @class = "actionButtons btn btn-xs-sm-md btn-default glyphicon glyph-btn", @role = "button", @title = "Копировать заказ" })
                </td>
            </tr>
        }
    </tbody>
</table>
