﻿/* Content CSS styles */

.about-img,
.delivery-img {display:block;height:auto;}
#ya-map {height:auto;margin:0 auto;padding:0;}
.img-center {display:block;height:auto;margin:0 auto;padding:0;}

/* XS - Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    #ya-map {width: 300px;height:300px;overflow:scroll;}
}

/* SM - Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .about-img {width:200px;}
    .delivery-img {width:250px;}
    .about-img,
    .delivery-img {margin:20px auto;} 
    #ya-map {width:638px;height:518px;overflow:hidden;}
}

/* MD - Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .about-img {width:250px;}
    .delivery-img {width:300px;}
    .about-img,
    .delivery-img {margin:30px auto;}
}

/* LG - Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .about-img {width:366px;}
    .delivery-img {width:430px;}
    .about-img,
    .delivery-img {margin:40px auto;}
}