﻿@charset "utf-8";
/* CSS Document */
html, body {margin:0!important;padding:0!important;font-family:Roboto,Arial,Helvetica,sans-serif;}
body, header, footer {background-color:#f9f9f9;}
h1, h2, h3, h4, h5, h6 {font-family:Roboto,Arial,Helvetica,sans-serif;text-transform:uppercase;font-weight:400;}
*::-webkit-input-placeholder {color:#666;opacity:1;}
*:-moz-placeholder {color:#666;opacity:1;}
*::-moz-placeholder {color:#666;opacity:1;}
*:-ms-input-placeholder {color:#666;opacity:1;}
body input:focus:required:invalid,
body textarea:focus:required:invalid {}
body input:required:valid,
body textarea:required:valid {}
.body-content {padding-left:15px;padding-right:15px;}
.dl-horizontal dt {white-space: normal;}
input, select, textarea {max-width: 845px;}
img {max-width: 100% !important;}
a, a:link, a:visited {text-decoration:none;}
a:hover {color:#000;text-decoration:underline;}
h1, .h1, h2.block-h2 {margin:0;padding:10px 0;text-align:center;color:#777;background-color:#efefef;border-bottom:1px solid #dfdfdf;}
h2.block-h2 {margin:0;padding:5px 0;}
.null-padding {padding: 0!important;}
.null-margin {margin:0!important;}
.null-font {font-size:0!important}
.auto-width {width:auto!important;}
.auto-height {height:auto!important;}
.toright {float:right!important;}
.toleft {float:left!important;}
.bg-white {background-color:#fff!important;}
.bg-red {background-color:#ff0000!important;}
.bg-orange {background-color:#fe980f!important;}
.bg-black {background-color:#000!important;}
.bg-f3 {background-color:#f3f3f3;}
.bg-orange {background-color:#ffa500;}
.bg-0064 {background-color:#006400;}
.bg-555 {background-color:#555;}
.bg-yellow-lagoc {background-color:#ffe600;}
.cl-white {color:#fff!important;}
.cl-orange {color:#fe980f!important;}
.cl-black {color:#000!important;}
.cl-red {color:#ff0000!important;}
.cl-blue {color:#0000ff!important;}
.cl-darkgey {color:#a9a9a9!important;}
.cl-yellow-lagoc {color:#ffe000;}
.t-upper {text-transform:uppercase!important;}
.noborder {border:none!important;}
.clearboth {clear:both;}
.invisible {visibility:hidden;}
.nondisplay {display:none;}
.btn-primary {background-color:#999; border-color:#666;}
.btn-primary:active:hover, 
.btn-primary.active:hover, 
.open > .dropdown-toggle.btn-primary:hover, 
.btn-primary:active:focus, 
.btn-primary.active:focus, 
.open > .dropdown-toggle.btn-primary:focus, 
.btn-primary:active.focus, 
.btn-primary.active.focus, 
.open > .dropdown-toggle.btn-primary.focus {background-color:#555;border-color:#000;}
.btn-primary:active, 
.btn-primary.active, 
.open > .dropdown-toggle.btn-primary {background-color:#777;border-color:#222;}
.btn-primary:focus, 
.btn-primary.focus {background-color:#777;border-color:#222;}
.btn-primary:hover {background-color:#777;border-color:#222;}
.btn-xs-sm,
.btn-xs-sm-md,
.btn-ar {padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px;}
.navbar-wrapper {background-color:#fff!important;padding:0;}
.navbar-wrapper .header-logo {padding:10px 0;}
.top-menu-wrapper {background-color:#d6effb;border-bottom:1px solid #ddd;padding:5px 0;font-size:12px;}
.top-menu-wrapper .top-menu {}
.top-menu-wrapper .top-menu > li {padding:5px 0;margin:0;}
.top-menu-wrapper .top-menu > li > a {padding:0 10px;margin:0;color:#32414a;border-right:1px solid #666;}
.top-menu-wrapper .top-menu > li:last-child > a {border:none;}
.top-menu-wrapper .top-menu > li > a:visited {color:#32414a;background-color:transparent;}
.top-menu-wrapper .top-menu > li > a:hover, 
.top-menu-wrapper .top-menu > li.active > a, 
.top-menu-wrapper .top-menu > li.active > a:hover {color:#32414a;text-decoration:underline;background-color:transparent;}
.top-right {padding:5px 0 0 0;margin:0;}
.top-right > a {margin:0 10px;color:#32414a;}
.content-block {padding:10px 15px;}
.footer-wrapper {background-color:#32414a;margin-top:20px;padding-top:20px;border-top:1px solid #000;}
.footer-bottom-wrapper {background-color:#d6effb;border-top:1px solid #000;}
.footer-bottom {padding:10px 20px;}
.footer-bottom > .footer-copyright-info {display:inline-block;margin:0;padding:5px 0 0 0;color:#777;font-size:14px;text-decoration:none;}
.back-to-top-wrap {padding:3px 6px;margin:0;border:1px solid #999;border-radius:50%;overflow:hidden;opacity:1;cursor:pointer;box-shadow:0 1px 3px 0 rgba(0,0,0,.4);}
.back-to-top, 
.back-to-top:focus,
.back-to-top:visited {color:#999;text-decoration:none;}
.back-to-top:hover {color:#fff!important;text-decoration:none;}
.back-to-top-wrap:hover {border:1px solid #999;background-color:#bbb;opacity:0.5;}
.footer-menu-wrapper {padding:10px 10px 15px;}
.footer-menu-wrapper.footer-info {margin:0 0 10px;padding:10px 10px 5px;color:#ddd;}
.footer-menu-wrapper.footer-info .fn {color:#ffe600;font-size:18px;font-weight:bold;}
.footer-menu-wrapper.footer-info .adr {padding:10px 0 0 0;font-size:14px;}
.footer-menu-wrapper.footer-info .disp-info,
.footer-menu-wrapper.footer-info .ca-info {padding:15px 0 0 0;}
.footer-menu-wrapper.footer-info .footer-info-header {color:#fff!important;font-size:14px;font-weight:bold;letter-spacing:0.08em;}
.footer-menu-wrapper.footer-info .phone-marker,
.footer-menu-wrapper.footer-info .email-marker,
.footer-menu-wrapper.footer-info .dashboard-marker {color:#ffe600!important;font-weight:bold;}
.footer-menu-wrapper.footer-info .feedback,
.footer-menu-wrapper.footer-info .feedback:visited {padding-top:10px;color:#ffe000;font-size:14px;font-weight:bold;letter-spacing:0.08em;}
.footer-menu-wrapper.footer-info .feedback:hover {color:#ffe000;}
.footer-menu-wrapper.footer-info .tel,
.footer-menu-wrapper.footer-info .url,
.footer-menu-wrapper.footer-info .email, 
.footer-menu-wrapper.footer-info .url:visited,
.footer-menu-wrapper.footer-info .email:visited, 
.footer-menu-wrapper.footer-info .dashboard {color:#ccc;font-size:12px;text-decoration:none;}
.footer-menu-wrapper > .nav.footer-menu > li.navbar-header.footer-info-header {color:#ffe000!important;font-size:14px;font-weight:bold;letter-spacing:0.08em;}
.nav.footer-menu > li > a {padding:3px 0px;color:#ccc;font-size:12px;background-color:transparent;}
.nav.footer-menu > li > a:visited {color:#ccc;background-color:transparent;}
.footer-menu-wrapper > .sitemap,
.footer-menu-wrapper > .sitemap:visited {color:#ffe000;font-size:12px;}
.footer-menu-wrapper > .sitemap:hover {color:#ffe000;}
.footer-menu-wrapper .user-login {display:block;margin-top:3em;color:#666;font-size:12px;text-decoration:none;}
.footer-menu-wrapper .user-login:focus,
.footer-menu-wrapper .user-login:visited {color:#666;text-decoration:none;}
.footer-menu-wrapper.footer-info .url:hover,
.footer-menu-wrapper.footer-info .email:hover,
.nav.footer-menu > li > a:hover, 
.footer-menu-wrapper .user-login:hover {color:#fff;text-decoration:underline;background-color:transparent;}
.footer-copyright-info .fn {color:#777;}
.jumbotron.jumbotron-index {border-radius:0;background-image:url(/images/index/index.jpg);background-repeat:no-repeat;background-size:cover;margin-top:20px;}
.jumbotron.jumbotron-index > h1 {background:transparent;border:none;color:#ffd000;text-shadow:4px 4px 8px #000;}
.jumbotron.jumbotron-index > .jumbotron-text {background:transparent;border:none;color:#ccc;text-shadow:2px 2px 4px #000;}
.jumbotron.jumbotron-index > .jumbotron-btn-wrapper {text-align:right;}
.jumbotron.jumbotron-index .btn.jumbotron-btn {background:#ffd000;color:#000;}
.jumbotron.jumbotron-index .btn.jumbotron-btn:hover {background:#aaa;color:#fff;}
.thumbnail-index {border-radius:0;border:1px solid #eee;box-shadow:0 1px 3px 0 rgba(0,0,0,.4);}
.thumbnail.thumbnail-index > .caption > h3 {padding:5px 0;background:#ffe000;}
.news-block > h2 {margin:0;padding:5px 0px 5px 10px;text-align:left;background-color:#ff0000;color:#fff;text-shadow:1px 1px 2px #000;}
.news-block > .news-block-item-wrapper {margin:0;padding:5px 0;}
.news-block > .news-block-item-wrapper > a.news-block-item,
.news-block > .news-block-item-wrapper > a.news-block-item:visited {color:#000;}
.news-block > .news-block-item-wrapper > a.news-block-item > .news-date {padding:0 30px 0 5px;background-color:#e6e6e6;}
.news-block > .all-news-wrapper {padding:5px;background-color:#d6effb;}
.news-block > .all-news-wrapper > a.all-news,
.news-block > .all-news-wrapper > a.all-news:visited {color:#000;}
.bhr {border-top:1px solid #62a7d9!important;}
.content-item-list {margin:0;padding:0;list-style-type:none;}
.content-item-list:last-child {border:none;}
.content-item {display:block;list-style:none;margin:0;padding:10px 15px;border-bottom:1px solid #62a7d9;}
.content-item.news-item > .news-date {color:#000;}
.content-item.news-item > .news-detail {padding:0 10px;}
.page-info, .page-navigator {background-color:transparent;}
.page-info {margin:0;padding:5px 0;}
.page-info > span {font-size:12px;}
.page-navigator > .pagination > li > a,
.page-navigator > .pagination > li > span,
.page-navigator > .pagination > li > a:visited,
.page-navigator > .pagination > li.disabled > a,
.page-navigator > .pagination > li.disabled > span,
.page-navigator > .pagination > li.disabled > a:visited {background-color:#f6f6f6;border-color:#bbb;}
.page-navigator > .pagination > li > a:hover,
.page-navigator > .pagination > li > a:focus {background-color:#eee;border-color:#aaa;}
.page-navigator > .pagination > li.active > a,
.page-navigator > .pagination > li.active > span,
.page-navigator > .pagination > li.active > a:hover,
.page-navigator > .pagination > li.active > span:hover,
.page-navigator > .pagination > li.active > a:focus,
.page-navigator > .pagination > li.active > span:focus {background-color:#ffe000;border-color:#999;color:#000;}
.table.productlist-product,
.table.productlist-service {background-color:#fff;}
.table.productlist-product th,
.table.productlist-service th {background-color:#32414a;color:#ddd;}
.table .product-name,
.table .product-name:visited,
.table .product-name:hover {color:#000;}
.product-img-container {position:relative;margin:15px 0;padding:0;}
.product-img {margin:0 auto;padding:0;}
.product-price-container {position:relative;margin:5px 0;padding:0 10px;overflow:hidden;letter-spacing:0.06em;}
.product-price-container > .product-unit {padding:10px 5px;border-top:1px solid #bbb;}
.product-descr {border-radius:0;}