/* XS - Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    h1, .h1 {font-size:26px;}
    h2, .h2 {font-size:22px;}
    h3, .h3 {font-size:20px;}
    h4, .h4 {font-size:18px;}
    h5, .h5 {font-size:17px;}
    h6, .h6 {font-size:16px;}
    .btn-main-menu-xs {background-color:#ffe000!important;}
    h1, .h1, h2.block-h2 {border-top:1px solid #dfdfdf;}
    .navbar, .container > .navbar-header, .container-fluid > .navbar-header {min-height:65px;}
    .navbar-brand.logo-brand {padding:5px 10px;}
    .navbar-toggle.btn-main-menu-xs {background-color:#f3f3f3;margin-top:15px;}
    .navbar-toggle.btn-main-menu-xs > .icon-bar {background-color:#000;}
    .navbar-toggle.btn-main-menu-xs:hover > .icon-bar {background-color:#fff;}
    .nav.navbar-nav.main-menu > li > a:hover, 
    .nav.navbar-nav.main-menu > li.active > a, 
    .nav.navbar-nav.main-menu > li.active > a:hover,
    .nav.navbar-nav.main-menu .dropdown-menu > li > a:hover, 
    .nav.navbar-nav.main-menu .dropdown-menu .active > a, 
    .nav.navbar-nav.main-menu .dropdown-menu .active > a:hover {background-color:#e7e7e7;color:#000;}
    .nav.navbar-nav.main-menu > li.open > a, 
    .nav.navbar-nav.main-menu > li.open > a:hover {background-color:#f3f3f3;color:#000;}
    .nav.navbar-nav.main-menu > li.divider {border-top: 1px solid #eee;border-bottom:1px solid #fefefe;}
    .footer-wrapper {margin-top:15px;}
    .jumbotron-index {margin-top:0;}
    .thumbnail-index {margin-top:20px;}
    .news-block > .news-block-item-wrapper > a.news-block-item > .news-date {font-size:14px;}
    .page-navigator > .pagination > li:first-child > a, 
    .page-navigator > .pagination > li:first-child > span {border-bottom-left-radius:3px;border-top-left-radius:3px;}
    .page-navigator > .pagination > li > a, 
    .page-navigator > .pagination > li > span {padding:5px 10px;font-size:12px;}
    .page-navigator > .pagination {margin:10px 0 5px;}
    .content-item {padding:5px 10px;}
    .content-item .item-name {margin:5px;font-size:15px;}
    .product-img {width:200px;height:150px;}
    .product-pics-container {margin:10px 0 10px;padding:0;clear:both;}
    .product-img-thumbnail {height:75px; width:100px;}
    .product-price-container > .product-price {padding:5px;font-size:16px;}
    .product-price-container > .product-unit {font-size:12px;}
}

/* SM - Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .btn-xs-sm,
    .btn-xs-sm-md,
    .btn-ar {padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px;}
    .navbar-wrapper {margin-bottom:0px!important;padding:0;}
    .navbar-header.header-logo {float:none!important}
    .navbar-brand.logo-brand {height:auto!important;margin-left:0px!important;padding:0 0 0 15px!important;}
    .main-menu-wrapper {margin:0;padding:0;background-color:#ffe000;border-top:3px solid #32414a;border-bottom:3px solid #32414a;}
    .nav.navbar-nav.main-menu {width:100%;}
    .nav.navbar-nav.main-menu > li {width:24.5%;}
    /*.nav.navbar-nav.main-menu > li:first-child {width:4%;}*/
    .nav.navbar-nav.main-menu > li > a {color:#32414a;font-weight:bold;font-size:16px;letter-spacing:0.005em;line-height:1.42857143;padding:5px 0;text-align:center;} 
    .nav.navbar-nav.main-menu > li > a:visited {color:#32414a;background-color:transparent;}
    .nav.navbar-nav.main-menu > li > a:hover, 
    .nav.navbar-nav.main-menu > li.active > a, 
    .nav.navbar-nav.main-menu > li.active > a:hover {color:#ffe600;background-color:#32414a;}
    .vcard.vcard-top {color:#777;}
    .vcard.vcard-top .adr {padding:10px 0 0;font-size:14px;}
    .vcard.vcard-top .whs {font-size:14px;}
    .vcard.vcard-top .tel {padding:5px 0 0;font-size:20px;font-weight:bold;}
    .news-block > .news-block-item-wrapper > a.news-block-item > .news-date {font-size:14px;}
    .page-navigator > .pagination > li:first-child > a, 
    .page-navigator > .pagination > li:first-child > span {border-bottom-left-radius:3px;border-top-left-radius:3px;}
    .page-navigator > .pagination > li > a, 
    .page-navigator > .pagination > li > span {padding:5px 10px;font-size:12px;}
    .page-navigator > .pagination {margin:10px 0 5px;}
    .content-item {padding:5px 10px;}
    .content-item .item-name {margin:5px;font-size:15px;}
    .product-img {width:300px;height:250px;}
    .product-pics-container {position:relative;margin:60px 0 5px;padding:0 10px;overflow:hidden;}
    .product-img-thumbnail {height:60px; width:80px;}
    .product-price-container > .product-price {padding:5px 8px;font-size:18px;}
    .product-price-container > .product-unit {font-size:14px;}
}

/* MD - Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .btn-xs-sm-md,
    .btn-ar {padding:6px 12px;font-size:14px;line-height: 1.42857143;border-radius:4px;}
    .top-menu-wrapper {font-size:13px;}
    .main-menu-wrapper {border-top:4px solid #32414a;border-bottom:4px solid #32414a;}
    .nav.navbar-nav.main-menu > li > a {font-size:18px;letter-spacing:0.01em;} 
    .vcard.vcard-top .adr {padding:20px 0 0;font-size:16px;}
    .vcard.vcard-top .whs {padding:5px 0 0;font-size:16px;}
    .vcard.vcard-top .tel {padding:10px 0 0;font-size:24px;}
    .news-block > .news-block-item-wrapper > a.news-block-item > .news-date {font-size:16px;}
    .page-navigator > .pagination > li:first-child > a, 
    .page-navigator > .pagination > li:first-child > span {border-bottom-left-radius:4px;border-top-left-radius:4px;}
    .page-navigator > .pagination > li > a, 
    .page-navigator > .pagination > li > span {padding:6px 12px;font-size:14px;}
    .page-navigator > .pagination {margin:15px 0 10px;}
    .content-item {padding:10px 15px;}
    .content-item .item-name {margin:10px;font-size:16px;}
    .product-img {width:350px;height:275px;}
    .product-img-thumbnail {height:75px; width:100px;}
    .product-price-container > .product-price {padding:5px 10px;font-size:20px;}
    .product-price-container > .product-unit {font-size:16px;}
}

/* LG - Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .vcard.vcard-top .whs {font-size:18px;}
    .nav.navbar-nav.main-menu > li > a {letter-spacing:0.05em;} 
    .btn-ar {padding:10px 16px;font-size:18px;line-height:1.3333333;border-radius:6px;}
    .news-block > .news-block-item-wrapper {padding:10px 0;}
    .product-img {width:400px;height:300px;}
    .product-pics-container {margin:70px 0 5px;}
    .product-img-thumbnail {height:90px; width:120px;}
}