﻿@model IEnumerable<Domain.Entities.SaleReestr>

<h2>Реестр отгрузки</h2>
<div id="goodlist">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Txt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Driv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Num)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Txt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cust)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Driv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
            </tr>
        }

    </table>
    <h3>   @ViewBag.smr т </h3>
</div>


