﻿@model WebUI.Models.Mydate
@{
    ViewBag.Title = "Index";
}

@section Scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/datetimepickercss")
    @Scripts.Render("~/bundles/datetimepickerjs")
}

<div class="row">
    <div class="col-md-12">
        <section id="orderForm" class="client-form">
            @using (Html.BeginForm("Sup", "Sreestr", FormMethod.Post, new { @class = "form-horizontal", @role = "form", @id = "myform", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <h4>Дата реестра</h4>

                <div class="form-group">
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.Cdat, new { @class = "form-control datefield", @type = "text" })
                    </div>
                </div>
            }
        </section>
    </div>
</div>


@Html.Action("SupDat")
<script type="text/javascript">
    $(function () {
        $('#Cdat').datetimepicker({
            locale: 'ru',
            format: 'DD.MM.YYYY',
            maxDate: moment()
        });
        $("#Cdat").on("dp.change", function (e) {
            document.getElementById('myform').submit();
        });
    });
</script>
