﻿@model IEnumerable<Domain.Entities.SupReestr>
<h2>Реестр поставок</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Good)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qsend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Driv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Good)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cust)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qsend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Driv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
        </tr>
    }

</table>
