﻿@model IEnumerable<Domain.Entities.UserAdmin>

@{
    ViewBag.Title = "Index1";
}

<h2>Index1</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SmalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VUserInCustId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VUserInCustId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VUserInCustId })
        </td>
    </tr>
}

</table>
