﻿@using Microsoft.AspNet.Identity
<div class="container">
    <div class="row">
        <adress class="hidden-xs col-sm-4 text-left vcard footer-menu-wrapper footer-info" itemscope itemtype="http://schema.org/Organization">
            <span class="category hidden">Завод</span>&nbsp;
            <p class="fn org" itemprop="name">ООО "ЛАГОС"</p>
            <p class="adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span class="locality" itemprop="addressLocality">Московская область, Люберецкий район, п. Красково</span>,
                <span class="street-address" itemprop="streetAddress">ул. 2-ая Заводская, д.2А</span>
            </p>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </adress>
        <adress class="col-xs-6 col-sm-4 text-left vcard footer-menu-wrapper footer-info" itemscope itemtype="http://schema.org/Organization">
            <p class="visible-xs fn org" itemprop="name">ООО "ЛАГОС"</p>
            <p class="visible-xs adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span class="locality" itemprop="addressLocality">Московская область, Люберецкий район, п. Красково</span>,
                <span class="street-address" itemprop="streetAddress">ул. 2-ая Заводская, д.2А</span>
                <br /><br />
            </p>
            <p class="buh-info">
                <span class="footer-info-header">Бухгалтерия</span>
            <p class="tel">
                <span class="glyphicon glyphicon-earphone phone-marker"></span>&nbsp;
                <abbr class="value" title="+7-910-411-35-02" itemprop="telephone">+7-910-411-35-02</abbr>
            </p>
            <p>
                <span class="glyphicon glyphicon-envelope email-marker"></span>&nbsp;
                <a class="email" href="mailto:lagos99@mail.ru ; lagos-ABZ@mail.ru" title="lagos99@mail.ru ; lagos-ABZ@mail.ru" itemprop="email">lagos99@mail.ru ; lagos-ABZ@mail.ru</a>
            </p>
            <p>
                <span class="glyphicon glyphicon-dashboard dashboard-marker"></span>&nbsp;
                <span class="dashboard">Часы работы бухгалтерии: пн-пт с 8:00 до 17:00</span>
            </p>
            <p class="disp-info">
                <span class="footer-info-header">Диспетчерская</span>
            <p class="tel">
                <span class="glyphicon glyphicon-earphone phone-marker"></span>&nbsp;
                <abbr class="value" title="8-910-411-35-04" itemprop="telephone">8-910-411-35-04</abbr>
            </p>
            </p>
            <p class="ca-info">
                <span class="footer-info-header">По вопросам о холодных смесях обращайтесь по телефону</span>
            <p class="tel">
                <span class="glyphicon glyphicon-earphone phone-marker"></span>&nbsp;
                <abbr class="value" title="+7-903-212-64-36" itemprop="telephone">+7-903-212-64-36</abbr>
            </p>
            <p>
                <span class="glyphicon glyphicon-dashboard dashboard-marker"></span>&nbsp;
                <span class="dashboard">С 8:00 до 17:00 с пн-вс</span>
            </p>
        </adress>
        <div class="col-xs-6 col-sm-4 footer-menu-wrapper">
            <ul class="nav nav-pills nav-stacked footer-menu">
                <li class="navbar-header footer-info-header">ИНФОРМАЦИЯ</li>
                <li>
                    <a href="@Url.Action("Contact", "Home")" title="Контакты ООО 'ЛАГОС'" role="button">Контакты</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "News", new { pageNum = 0 })" title="Список новостей" role="button">Новости</a>
                </li>
                <li>
                    <a href="@Url.Action("About", "Home")" title="О компании" role="button">О компании</a>
                </li>
            </ul>
            <p>&nbsp;</p>
            <ul class="nav nav-pills nav-stacked footer-menu">
                <li class="navbar-header footer-info-header">ПОКУПАТЕЛЯМ</li>
                <li>
                    <a href="@Url.Action("PriceList", "Home")" title="Прайс-лист" role="button">Прайс-лист</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Articles", new { nameView = "ColdAsphalt" })" title="Холодный асфальт" role="button">Холодный асфальт</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Articles", new { nameView = "Asphalt" })" title="Асфальт" role="button">Асфальт</a>
                </li>
                <li @*class="hidden"*@>
                    <a href="@Url.Action("Index", "Articles", new { nameView = "Emulsion" })" title="Битумные эмульсии" role="button">Битумные эмульсии</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Articles", new { nameView = "Services" })" title="Дорожное строительство" role="button">Дорожное строительство</a>
                </li>
                <li @*class="hidden"*@>
                    <a href="@Url.Action("Index", "Articles", new { nameView = "Laboratory" })" title="Услуги испытательной лаборатории" role="button">Услуги испытательной лаборатории</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Articles", new { nameView = "Delivery" })" title="Доставка продукции" role="button">Доставка</a>
                </li>
            </ul>
        </div>
    </div>
</div>
