﻿@model Domain.Entities.Cust

@{
    ViewBag.Title = "Реквизиты";
}

<h2>Реквизиты</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.txtfull)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.txtfull)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.txt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.txt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>


    </dl>
</div>
