﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("metatags", false)
    <meta name="author" content="K&K" />
    @*<title>@ViewBag.Title – ООО ЛАГОС</title>*@
    <title>@ViewBag.Title – ЛК</title>
    @Scripts.Render("~/bundles/fontloader")
    <link href="/images/favicon.ico" rel="shortcut icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryval", "~/bundles/modernizr")
</head>
<body>
    <header class="hidden-print">
        <div class="top-menu-wrapper">
            <div class="container clearfix ">
                <div class="pull-right top-right">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="navbar navbar-default navbar-static-top navbar-wrapper" role="navigation">
            <div class="container clearfix">
                <div class="navbar-header header-logo">
                    <button type="button" class="navbar-toggle btn-main-menu-xs" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    

                    @*<a class="navbar-brand logo-brand" href="/Home" title="Личный кабинет ООО 'ЛАГОС'">
                        <img src="/images/logo-account.png" width="415" height="55" alt="Личный кабинет ООО 'ЛАГОС'" title="Личный кабинет ООО 'ЛАГОС'">
                    </a>*@
                    

                </div>
            </div>
            @*@if (Request.IsAuthenticated)
            {@Html.RenderAction("MainMenu", "Sreestr")
            , new { menuItem = ViewBag.MenuItem })*@
            @if (Request.IsAuthenticated)
            { Html.RenderAction("MainMenu", "Sreestr", new { menuItem = ViewBag.MenuItem }); }


            @*@if (Request.IsAuthenticated)
            {
                Html.Partial("MainMenu");
            }*@
        </div>
    </header>
    @if (ViewBag.IsMainPage != null && ViewBag.IsMainPage)
    {
        <div class="container body-content content-wrapper">
            @RenderBody()
        </div>
    }
    else
    {
        if (!string.IsNullOrEmpty(ViewBag.ContentTitle))
        { <h1>@ViewBag.ContentTitle</h1> }
        <div class="container body-content content-wrapper">
            <div class="row">
                <div class="content-block col-md-12 @Html.Encode(ViewBag.MenuItem == "news" ? "null-padding" : "") ">
                    @RenderBody()
                </div>
            </div>
        </div>
    }
    @*<footer class="footer-wrapper hidden-print">
        @{ Html.RenderAction("FooterMenu", "Home"); }
        <div class="container-fluid footer-bottom-wrapper">
            <div class="container clearfix footer-bottom">
                <p class="footer-copyright-info">
                    &copy;&nbsp;@DateTime.Now.Year &nbsp;&nbsp;<span class="fn">ООО "ЛАГОС"</span>
                </p>
                <p class="pull-right back-to-top-wrap">
                    <a class="back-to-top" href="#top">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                </p>
            </div>
        </div>
    </footer>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>