﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    @Html.ActionLink("Здравствуйте, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", role = "button" })
    <span>&nbsp;&nbsp;&nbsp;</span>
    <a href="javascript:document.getElementById('logoutForm').submit()" title="Выйти из личного кабинета" role="button">
        <span class="glyphicon glyphicon-log-out"></span>&nbsp;Выйти
    </a>
    }
}
else
{
    <a href="@Url.Action("Register", "Account")" id="registerLink" title="Регистрация" role="button">Регистрация</a>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <a href="@Url.Action("Login", "Account")" id="loginLink" title="Выполнить вход" role="button">
        <span class="glyphicon glyphicon-user"></span>&nbsp;Выполнить вход
    </a>
}