﻿@model WebUI.Models.TriesModel
@section metatags
{
    <meta name="robots" content="noindex, nofollow">
}
<form method="post">
    <fieldset>@Html.HiddenFor(m => m.CountTries)</fieldset>
    <div class="row">
        <div class="col-md-4">
            @if (ViewBag.ErrorMessage != null)
            {
                <p class="text-danger">@ViewBag.ErrorMessage</p>
            }
            <h2>Вы уверены?</h2>
            <hr />
            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-xs-sm-md btn-success" role="button" title="Подтвердить удаление">
                        Удалить
                    </button>
                    <a href="@Model.ReturnUrl" role="button" class="btn btn-xs-sm-md btn-default pull-right" title="Возврат на предыдущую страницу">
                        Отмена
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>