﻿@model IEnumerable<Domain.Entities.SaleLoad>

@{
    ViewBag.Title = "Под загрузкой";
}

<h2>Под загрузкой</h2>

<table class="table">
    <tr>
        <th>
            Заказчик
        </th>
        <th>
            Водитель
        </th>
        <th>
            Модель
        </th>
        <th>
            Автобаза
        </th>
        <th>
            Гос. №
        </th>
        <th>
            Продукция
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.centr)
        </th>*@
        <th>
           Дата-время
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cust)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Driv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ab)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Good)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.centr)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Dat)
        </td>

    </tr>
}

</table>
