﻿@model IEnumerable<Domain.Entities.SalePreGraph>

<h2>Предварительный график</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Good)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dat)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Good)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cust)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dat)
            </td>

        </tr>
    }

</table>
